/* references:
https://youtu.be/uKVVSwXdLr0?si=8-T3qunaKMrdRMAK (for lightbox effect)
https://www.youtube.com/watch?v=At4B7A4GOPg (for responsive navbar)

(for sticky nav bar)
https://www.w3schools.com/howto/howto_js_navbar_sticky.asp
https://www.w3schools.com/cssref/pr_pos_top.php
https://www.w3schools.com/cssref/pr_pos_z-index.asp
*/

/* navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(245, 252, 255);
  position: sticky;
  top: 0; /* top must be specified for sticky nav bar to work. top property at 0 keeps the nav bar positioned at the top */
  z-index: 1; /* setting the z-index to 1 will ensure that the header layers over all other elements when scrolling */
}

.site-name {
  margin: 20px;
  font-size: 20px;
}
.site-name a {
  text-decoration: none;
  color: black;
}
.site-name a:hover {
  color: rgb(0, 89, 166);
}

.navbar-links ul {
  display: flex;
}
.navbar-links li {
  list-style: none;
  margin: 20px;
}
.navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 16px;
}
.navbar-links a:hover {
  color: rgb(0, 89, 166);
}

.toggle-button {
  position: absolute; /* will be on the right side of the screen always, will not disrupt flow of other elements */
  /* top and right will help set the position of the toggle button */
  top: 20px;
  right: 20px;
  display: none;
  flex-direction: column; /* will stack the three lines on top of each other */
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.toggle-button .bar {
  width: 100%;
  height: 2px;
  background-color: black;
}

/* gallery styling */
body {
  background-color: rgb(245, 252, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  position: relative;
  margin: 20px;
  padding: 10px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4,auto);
    grid-gap: 10px;
    padding: 10px;
    cursor: pointer; /* the cursor will now indicate that the images are clickable */
}

img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* lightbox styling */

#lightbox {
  position: fixed; /* fixed position will ensure that the lightbox stays in the same spot no matter where we are on the page */
  /* top, width, and height will ensure that the lightbox effect covers the entire page */
  top: 0;
  width: 100%;
  height: 100%;
  /* z-index of 1000 will ensure that the lightbox is layered over all other elements */
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; /* display is set to none until the lightbox effect is toggled when the user clicks on an image (similar to the nav bar effect) */
}

#lightbox.active {
  /* display is set to flex to make the lightbox and it's content responsive */
  display: flex;
  /* this will always keep the image in the center of the page */
  justify-content: center;
  align-items: center;
}

#lightbox.img {
  
}

/* responsiveness */

@media (max-width: 700px) {
  /* nav bar responsiveness */
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  /* active class that will be toggled on and off when the hamburger icon is clicked */
  .active {
    display: flex;
    flex-direction: column; /* helps center the text in the nav bar items */
  }

  .navbar-links ul {
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start; /* keeps site name on the left side of the screen*/
  }

  .site-name a {
    font-size: 15px;
  }

  /* gallery responsiveness */
  .gallery-grid {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
  }
}

@media (max-width: 500px) {
  .gallery-grid {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
  }
}