/* references:
https://youtu.be/uKVVSwXdLr0?si=8-T3qunaKMrdRMAK (for lightbox effect)
https://www.youtube.com/watch?v=At4B7A4GOPg (for responsive navbar)
*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.navbar-links ul {
  display: flex;
}
.navbar-links li {
  list-style: none;
  margin: 15px;
}
.navbar-links a {
  text-decoration: none;
  color: black;
}
.navbar-links a:hover {
  color: rgb(0, 89, 166);
}
.navbar-links a:active {
  color:rgb(0, 97, 208)
}

body {
  background-color: rgb(245, 252, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  position: relative;
  margin: 20px;
  padding: 10px;
}

.denver-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
